<label for="url" class="formlabel">Type your Social Network URL</label>

<div class="formfield type-text" >
	<%= text_field_tag 'block[url]', @block.url, :class => 'social-url', :maxlength => 255 %>
	
</div>

