<div id="search-results" class="<%= !multiple_search? ? 'only-one-result-box' : 'multiple-results-boxes' %>">
  <% @order.each do |name| %>
    <% search = @searches[name] %>

    <div class="search-results-<%= name %> search-results-box <%= "search-results-empty" if search[:results].blank? %>">
      <% if !search[:results].blank? %>

        <% if multiple_search?(@searches) %>
          <h3><%= @names[name] %></h3>
          <% if search[:results].total_entries > SearchController::MULTIPLE_SEARCH_LIMIT %>
            <%= link_to(_('see all (%d)') % search[:results].total_entries, params.merge(:action => name), :class => 'see-more' ) %>
          <% end %>
        <% end %>

        <% display = display_filter(name, params[:display]) %>

        <div class="search-results-innerbox search-results-type-<%= name.to_s.singularize %> <%= 'common-profile-list-block' if SearchHelper::COMMON_PROFILE_LIST_BLOCK.include?(name) %>">
          <ul>
            <% search[:results].each do |hit| %>
              <% partial = partial_for_class(hit.class, display) %>
              <% variable_name = partial.gsub("#{display}_", '').to_sym %>
              <%= render :partial => partial, :locals => {variable_name => hit} %>
            <% end %>
          </ul>
        </div>
      <% else %>
        <% if multiple_search? %>
          <h3><%= @names[name] %></h3>
        <% end %>

        <div class="search-results-innerbox search-results-type-empty">
          <div> <%= _('None') %> </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div style="clear:both"></div>

  <%= add_zoom_to_images %>
</div>

