<<h3 class="block-title">
	<span><%= block.title %></span>
</h3>

<div class="social-block-data">
	<% if block.is_facebook? %>
	<%= render :partial => 'blocks/facebook_social_block' %>
	<% elsif block.is_twitter? %>
	<%= render :partial => 'blocks/twitter_social_block' %>
	<% elsif block.is_linkedin? %>
	<%= render :partial => 'blocks/linkedin_social_block' %>
	<% elsif block.is_gplus? %>
	<%= render :partial => 'blocks/gplus_social_block' %>
	<% else %>
	<%= "URL Errada" %>
	<% end %>
</div>