<div class="video-block-data">
  <% if block.is_youtube? %>
  <%= render :partial => 'blocks/youtube_video_block', :locals => { :url => block.format_embedded_video_url }%>
  <% elsif block.is_vimeo? %>
  <%= "Vimeo" %>
  <% end %>

</div>
