<li class='profile-activity-item' id='profile-activity-item-<%= scrap.id %>'>
  <div class='profile-activity-image'>
    <%= link_to(profile_image(scrap.sender, :minor), scrap.sender.url) %>
  </div>
  <div class='profile-activity-description'>
    <p class='profile-activity-sender'><%= link_to scrap.sender.name, scrap.sender.url %></p>
    <p class='profile-activity-text'><%= txt2html scrap.content %></p>
    <p class='profile-activity-time'><%= time_ago_as_sentence(scrap.created_at) %></p>
    <div class='profile-wall-actions'>
    <% if logged_in? && current_person.follows?(scrap.sender) %>
      <span class='profile-activity-send-reply'>
        <%= link_to_function s_('profile|Comment'), "hide_and_show(['#profile-wall-message-response-#{scrap.id}'],['#profile-wall-reply-#{scrap.id}', '#profile-wall-reply-form-#{scrap.id}']);$('reply_content_#{scrap.id}').value='';$('reply_content_#{scrap.id}').focus();return false", :class => "profile-send-reply" %>
      </span>
    <% end %>
    <%= link_to_function(_('Remove'), 'remove_item_wall(this, \'%s\', \'%s\', \'%s\'); return false ;' % [".profile-activity-item", url_for(:profile => params[:profile], :action => :remove_scrap, :scrap_id => scrap.id, :view => params[:view]), _('Are you sure you want to remove this scrap and all its replies?')]) if logged_in? && user.can_control_scrap?(scrap) %>
    </div>
  </div>

  <ul class="profile-wall-activities-comments scrap-replies" style="width: auto;" >
    <% scrap.replies.map do |reply| %>
      <%= render :partial => 'profile_scrap', :locals => {:scrap => reply} %>
    <% end %>
  </ul>
  <%= render :partial => 'profile_scrap_reply_form', :locals => { :scrap => scrap } %>
  <hr />  
</li>
